body {
    background-color: $bgrColorLemon;
    color: $primaryTextColor;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}