@font-face {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
        local("Film P3"),
        url("../fonts/film-p3-bold.woff2") format("woff2"),
        url("../fonts/film-p3-bold.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("Montserrat"),
        url("../fonts/montserrat-normal.woff2") format("woff2"),
        url("../fonts/montserrat-normal.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        local("Montserrat"),
        url("../fonts/montserrat-medium.woff2") format("woff2"),
        url("../fonts/montserrat-medium.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        local("Montserrat"),
        url("../fonts/montserrat-semi-bold.woff2") format("woff2"),
        url("../fonts/montserrat-semi-bold.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local("Montserrat"),
        url("../fonts/montserrat-bold.woff2") format("woff2"),
        url("../fonts/montserrat-bold.woff") format("woff");
}

@font-face {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("Times New Roman"),
        url("../fonts/times-new-roman-normal.woff2") format("woff2"),
        url("../fonts/times-new-roman-normal.woff") format("woff");
}

@font-face {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local("Times New Roman"),
        url("../fonts/times-new-roman-bold.woff2") format("woff2"),
        url("../fonts/times-new-roman-bold.woff") format("woff");
}