@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: #FFFDEE;
  color: #5F5F5F;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "FilmP3";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("FilmP3"), url("../fonts/film-p3-bold.woff2") format("woff2"), url("../fonts/film-p3-bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/montserrat-normal.woff2") format("woff2"), url("../fonts/montserrat-normal.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/montserrat-semi-bold.woff2") format("woff2"), url("../fonts/montserrat-semi-bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
}
@font-face {
  font-family: "TimesNewRoman";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("TimesNewRoman"), url("../fonts/times-new-roman-normal.woff2") format("woff2"), url("../fonts/times-new-roman-normal.woff") format("woff");
}
@font-face {
  font-family: "TimesNewRoman";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("TimesNewRoman"), url("../fonts/times-new-roman-bold.woff2") format("woff2"), url("../fonts/times-new-roman-bold.woff") format("woff");
}
.hotel__button {
  width: 236px;
  height: 48px;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
}

.hotel__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #F3C653;
  text-decoration: none;
}

.icon {
  width: 32px;
  height: 32px;
}
.icon:not(:last-child) {
  margin-right: 33px;
}

.hotell__arrows-lemon {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  justify-content: flex-end;
}

.hotell__arrows-darklemon {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  justify-content: flex-start;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 957px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}

.hotel__room--lemon {
  background-color: #FFFDEE;
}
@media (min-width: 1024px) {
  .hotel__room--lemon {
    position: relative;
  }
}
@media (max-width: 413px) {
  .hotel__room--lemon {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 414px) {
  .hotel__room--lemon {
    padding-top: 66px;
  }
}

.hotel__room--darklemon {
  background-color: #F0ECD6;
}
@media (max-width: 413px) {
  .hotel__room--darklemon {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 414px) {
  .hotel__room--darklemon {
    padding-top: 66px;
  }
}

.hotel__label {
  font-family: "FilmP3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  margin-top: 8px;
  margin-bottom: 32px;
}
@media (min-width: 414px) {
  .hotel__label {
    font-size: 64px;
    line-height: 1.07;
  }
}

.hotel__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #B4B4B4;
}
@media (min-width: 414px) {
  .hotel__title {
    font-size: 32px;
    line-height: 1.15;
  }
}

.hotel__name {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 12px;
  color: #000000;
}
@media (min-width: 414px) {
  .hotel__name {
    font-size: 30px;
    line-height: 1.13;
  }
}

.hotel__about {
  font-family: "Montserrat";
  width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: #5F5F5F;
}
@media (min-width: 414px) {
  .hotel__about {
    font-size: 16px;
    line-height: 1.25;
    width: 439px;
  }
}

.hotel__about-lemon {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5F5F5F;
  margin-bottom: 32px;
  width: 242px;
  margin-right: 58px;
}
@media (min-width: 414px) {
  .hotel__about-lemon {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.53;
    width: 400px;
  }
}

.hotel__img--small {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .hotel__img--small {
    position: absolute;
    top: -32px;
    right: 112px;
    margin-bottom: 48px;
  }
}

.hotel__img--big {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: auto;
  display: block;
  max-width: 100%;
  margin-bottom: 32px;
}

.hotel__button-box:not(:last-child) {
  padding-bottom: 16px;
}

.hotel__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slader__box {
  display: flex;
  flex-direction: column;
}

.slader__list {
  display: flex;
  gap: 16px;
  margin-left: -120px;
}/*# sourceMappingURL=index.css.map */