@mixin style-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

@mixin img {
    display: block;
    max-width: 100%;
    height: auto;
}

@mixin visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
@mixin label {
    font-family: "FilmP3";
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    font-display: swap;
    src: 
        local("FilmP3"),
        url("../fonts/film-p3-bold.woff2") format("woff2"),
        url("../fonts/film-p3-bold.woff") format("woff");
  
}
