$primaryTextColor: #5f5f5f;
$primaryBlack: #000000;
$primaryWhite: #ffffff;
$secondaryTextColor: #7a7a7a;
$thirdTextColor: #b4b4b4;
$fourthTextColor: #828282;
$fifthTextColor: #494848;
$sixthTextColor: #bababa;
$bgrColorLemon: #fffdee;
$bgrColorDarkLemon: #f0ecd6;
$accentColor: #f3c653;
$brownColor: #c79002;
$colorFooter: #0e0c07;
