$primaryTextColor: #5F5F5F;
$primaryBlack: #000000;
$primaryWhite: #FFFFFF;
$secondaryTextColor: #7A7A7A;
$thirdTextColor: #B4B4B4;
$fourthTextColor: #828282;
$fifthTextColor: #494848;
$bgrColorLemon: #FFFDEE;
$bgrColorDarkLemon: #F0ECD6;
$accentColor: #F3C653;
$brownColor: #C79002;
$colorFooter: #0E0C07;