.hero-restaurant {
    background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)),
        url(../images/restaurant/hero-restaurant-mobile.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/restaurant/hero-restaurant-mobile@2x.jpg);
    }

    background-repeat: no-repeat;

    @include for-tablet-landscape-up {
        background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/restaurant/hero-restaurant-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/restaurant/hero-restaurant-tablet@2x.jpg);
        }
    }


    @include for-desktop-up {
        background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/restaurant/hero-restaurant-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/restaurant/hero-restaurant-desktop@2x.jpg);
        }
    }
}

.hero-restaurant__link-menu {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid $primaryWhite;
    border-radius: 25px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;

    color: $accentColor;
    @include light-btn-hover;

    padding: 14px 30px;
}