.hero-hotel {
    background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)),
            url(../images/hotel/hero-hotel-mobile.jpg);
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/hotel/hero-hotel-mobile@2x.jpg);
    }

    background-repeat: no-repeat;

    @include for-tablet-landscape-up {
        background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/hotel/hero-hotel-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/hotel/hero-hotel-tablet@2x.jpg);
        }
    }


    @include for-desktop-up {
        background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/hotel/hero-hotel-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(14, 15, 18, 0.4), rgba(12, 12, 14, 0.4)), url(../images/hotel/hero-hotel-desktop@2x.jpg);
        }
    }
}

.hero {
    &__subtitle-hotel {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: $primaryWhite;

        margin-bottom: 178px;

        @media screen and (max-width: 400px) {
            font-size: 16px;
            margin-bottom: 90px;
        }

        @include for-tablet-landscape-up {
            font-size: 20px;
            margin-bottom: 251px;
        }
    }

    &__title-hotel {
        font-family: "Film P3";
        font-size: 96px;
        line-height: 1.073;
        letter-spacing: 0.3em;

        color: $primaryWhite;
        margin-bottom: 32px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 303px;

        @media screen and (max-width: 400px) {
            font-size: 76px;
        }

        @include for-tablet-landscape-up {
            padding-top: 188px;
            margin-top: 0;
        }
    }
}

.button--look-price {
    padding-left: 33px;
    padding-right: 33px;
}