.hidden-caption{
    visibility: hidden;
}
.contacts{
    position: relative;
  
    background-image: linear-gradient(
      to right,
      $bgrColorLemon 33.81%,
      rgba(186, 186, 186, 0.4) 33.81%,
      rgba(186, 186, 186, 0.4) 34.06%,
      $bgrColorLemon 34.06%,
      $bgrColorLemon 65.94%,
      rgba(186, 186, 186, 0.4) 65.94%,
      rgba(186, 186, 186, 0.4) 66.18%,
      $bgrColorLemon 66.18%
    );
  
    @include for-tablet-landscape-up {
  
      background-image: linear-gradient(
        to right,
        $bgrColorLemon 25.57%,
        rgba(186, 186, 186, 0.4) 25.57%,
        rgba(186, 186, 186, 0.4) 25.67%,
        $bgrColorLemon 25.67%,
        $bgrColorLemon 50%,
        rgba(186, 186, 186, 0.4) 50%,
        rgba(186, 186, 186, 0.4) 50.1%,
        $bgrColorLemon 50.1%,
        $bgrColorLemon 74.32%,
        rgba(186, 186, 186, 0.4) 74.32%,
        rgba(186, 186, 186, 0.4) 74.42%,
        $bgrColorLemon 74.42%
      );
    }
  
    @include for-desktop-up {
  
      background-image: linear-gradient(
        to right,
        $bgrColorLemon 23.51%,
        rgba(186, 186, 186, 0.4) 23.51%,
        rgba(186, 186, 186, 0.4) 23.59%,
        $bgrColorLemon 23.59%,
        $bgrColorLemon 50%,
        rgba(186, 186, 186, 0.4) 50%,
        rgba(186, 186, 186, 0.4) 50.09%,
        $bgrColorLemon 50.09%,
        $bgrColorLemon 76.4%,
        rgba(186, 186, 186, 0.4) 76.4%,
        rgba(186, 186, 186, 0.4) 76.49%,
        $bgrColorLemon 76.49%
      );
}
}
.contacts__name{
    width: 127px;
    font-family: "FilmP3";
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: $fourthTextColor;
    margin-bottom: 12px;

    @media (min-width:1024px) {
        margin-top: 30px;
        font-size: 64px;
    }
}
.name_description{
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $primaryTextColor;
    margin-bottom: 16px;

    @media (min-width:1024px) {
        margin-bottom: 52px;
    }
}
.location{
    margin-right: 22px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $brownColor;

    @media (min-width:1024px) {
        margin-right: 0;
    }
}
.location__hotel{
    margin-right: 55px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $brownColor;

    
    @media (min-width:1024px) {
        margin-right: 0;
    }
}
.tel{
    display: flex;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: $fifthTextColor;
    flex-wrap: nowrap;
}
.tel:last-child{
    margin-right: 8px;
}

.contacts-aria__tel{
    display: flex;
    align-items: center;
    border-width: 0.5px;
    border-style: solid;
    border-color: $accentColor;
    border-radius: 2px;
    background-color: $primaryWhite;
    padding-top: 11px;
    padding-bottom: 11px;
    gap: 8px;

    @media (max-width:414px) {
        flex-wrap: wrap;
    }
}
.map{
    border: 1px solid #BABABA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media (max-width:414px) {
        width: 100%;        
        height: 220px;
    }
    @media (min-width:414px) {
        width: 384px;
        height: 220px;
    }
    @media (min-width:1024px) {
        width: 535px;
        height: 412px;
    }
    @media (min-width:1280px) {
        width: 634px;
        height: 412px;
    }
}
.restaurant{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @media (min-width:1024px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}
.hotel{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @media (min-width:1024px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 48px;
    }
}
.contacts-aria__address{
    margin-left: auto;    
    width: 260px;
    display: flex;
    align-items: center;
    border-width: 0.5px;
    border-style: solid;
    border-color: $accentColor;
    border-radius: 2px;
    background-color: $primaryWhite;
    gap: 10px;

    @media (max-width:412px) {
        width: 100%;
    }
    @media (min-width:1024px) {
        width: 285px;
        margin-left: 0;
        margin-right: auto;
    }
}
.address-wrap{
    @media (max-width:1024px) {
    display: flex;
    flex-direction: column;
    }
    @media (min-width:1024px) {
        display: flex;
        flex-direction: row;        
    }
}
.address-wrapper{
    position: relative;
    margin-bottom: 36px;
}
.contacts-aria__icon{
    width: 24px;
    height: 24px;
    fill: $accentColor;
    margin-left: 8px;
}
.address{
    font-style: inherit;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-wrap: nowrap;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: $fifthTextColor;

    @media (min-width:1024px) {
        display: flex;
        flex-wrap: wrap;
        line-height: 1.21;

    }
}
.address-wrap__title{
    @media (min-width:1024px) {
    display: flex;
    margin-right: 7px;
}
}
.address-wrap__title:not(:last-child){    
    margin-right: 7px;
}
.map-wrapper{
    @media (max-width:1024px) {
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    @media (min-width:1024px) {
        position: absolute;
        top: 69px;
        right: 47px;
    }
}