.hotel {
    &__room-lemon-line {
    
        @include for-phone-only {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @include for-tablet-portrait-up {
            padding-top: 66px;
            padding-bottom: 40px;
        }

        @include for-desktop-up {
            padding-top: 72px;
            padding-bottom: 50px;

            background-image: linear-gradient(to right,
                    $bgrColorLemon 23.51%,
                    rgba(186, 186, 186, 0.4) 23.51%,
                    rgba(186, 186, 186, 0.4) 23.59%,
                    $bgrColorLemon 23.59%,
                    $bgrColorLemon 50%,
                    rgba(186, 186, 186, 0.4) 50%,
                    rgba(186, 186, 186, 0.4) 50.09%,
                    $bgrColorLemon 50.09%,
                    $bgrColorLemon 76.4%,
                    rgba(186, 186, 186, 0.4) 76.4%,
                    rgba(186, 186, 186, 0.4) 76.49%,
                    $bgrColorLemon 76.49%);
        }
    }

    &__room-darklemon-line {
        @include for-phone-only {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @include for-tablet-portrait-up {
            padding-top: 66px;
            padding-bottom: 40px;
        }

        @include for-desktop-up {

            background-image: linear-gradient(to right,
                    $bgrColorDarkLemon 23.51%,
                    rgba(186, 186, 186, 0.4) 23.51%,
                    rgba(186, 186, 186, 0.4) 23.59%,
                    $bgrColorDarkLemon 23.59%,
                    $bgrColorDarkLemon 50%,
                    rgba(186, 186, 186, 0.4) 50%,
                    rgba(186, 186, 186, 0.4) 50.09%,
                    $bgrColorDarkLemon 50.09%,
                    $bgrColorDarkLemon 74.43%,
                    rgba(186, 186, 186, 0.4) 74.43%,
                    rgba(186, 186, 186, 0.4) 74.52%,
                    $bgrColorDarkLemon 74.52%);
        }
    }

    &__room-lemon-line--tablet {
        @include for-tablet-landscape-up {
            background-image: linear-gradient(to right,
                    $bgrColorLemon 25.57%,
                    rgba(186, 186, 186, 0.4) 25.57%,
                    rgba(186, 186, 186, 0.4) 25.67%,
                    $bgrColorLemon 25.67%,
                    $bgrColorLemon 50%,
                    rgba(186, 186, 186, 0.4) 50%,
                    rgba(186, 186, 186, 0.4) 50.1%,
                    $bgrColorLemon 50.1%,
                    $bgrColorLemon 74.43%,
                    rgba(186, 186, 186, 0.4) 74.43%,
                    rgba(186, 186, 186, 0.4) 74.52%,
                    $bgrColorLemon 74.52%);
        }
    }

    &__img-lemon {
        @include drop-shadow;
        @include img;
        margin-left: auto;
        margin-bottom: 32px;

        @include for-phone-only {
            width: 244px;
        }

        @include for-tablet-landscape-up {
            position: absolute;
            top: -32px;
            right: 112px;
        }

        @include for-desktop-up {
            position: absolute;
            top: -32px;
            right: 180px;
        }
    }

    &__img-darklemon {
        @include drop-shadow;
        @include img;
        margin-right: auto;
        margin-bottom: 32px;

        @include for-phone-only {
            max-width: 244px;
        }

        @include for-tablet-landscape-up {
            position: absolute;
            top: -32px;
            left: 112px;
        }

        @include for-desktop-up {
            position: absolute;
            top: -32px;
            left: 180px;
        }
    }
}

.hotel-rooms {
    &__lemon {
        @include for-tablet-landscape-up {
            position: relative;
        }

        background-color:$bgrColorLemon;
    }

    &__darklemon {
        @include for-tablet-landscape-up {
            position: relative;
        }

        background-color: $bgrColorDarkLemon;
    }
}

.room-short-desc {
    margin-left: auto;
    margin-right: auto;

    @include for-tablet-portrait-up {
        width: 414px;
    }

    @include for-tablet-landscape-up {
        width: 1024px;
    }
    
    @include for-desktop-up {
        width: 1280px;
    }

    &__label {
        @include label;
        margin-bottom: 32px;

        @include for-tablet-landscape-up {
            margin-bottom: 62px;
        }

        @include for-desktop-up {
            margin-bottom: 72px;
        }
    }

    &__title {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;

        @include for-phone-only {
            margin-bottom: 8px;
        }

        @include for-tablet-portrait-up {
            font-size: 32px;
            line-height: 1.15;
            margin-bottom: 0px;
        }

        @include for-desktop-up {
            margin-bottom: 4px;
        }

        color: $thirdTextColor;
    }

    &__name {
        font-family: 'TimesNewRoman';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        margin-bottom: 12px;

        @include for-tablet-landscape-up {
            font-size: 30px;
            line-height: 1.13;
            margin-bottom: 16px;
        }

        @include for-desktop-up {
            margin-bottom: 24px;
        }

        color: $primaryBlack;
    }

    &__name-down {
        text-transform: lowercase;
    }

    &__about {
        font-family: 'Montserrat';
        width: 258px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        margin-bottom: 32px;

        color: $primaryTextColor;

        @include for-tablet-landscape-up {
            font-size: 16px;
            line-height: 1.25;
            width: 439px;
            margin-bottom: 176px;
        }

        @include for-desktop-up {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            width: 439px;
            margin-bottom: 188px;
        }
    }

    &__about-lemon {
        font-family: 'Montserrat';
        width: 258px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        margin-bottom: 32px;

        color: $secondaryTextColor;

        @include for-tablet-landscape-up {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            width: 400px;
            margin-bottom: 176px;
        }

        @include for-desktop-up {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            width: 439px;
            margin-bottom: 188px;
        }
    }

    &__button-box:not(:last-child) {
        margin-bottom: 16px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__button {
        width: 236px;
        height: 48px;

        background-color: $primaryBlack;

        border: 2px solid $primaryWhite;
        border-radius: 25px;

        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-decoration: none;

        color: $accentColor;
        text-decoration: none;
        @include light-lem-btn-hover;

        &:hover,
        &:focus {
            @include hover-focus-button
        }
    }

    &__link {
        display: inline-block;
        text-align: center;
        padding-top: 13px;
        padding-bottom: 15px;
        padding-right: 50px;
        padding-left: 50px;

        width: 236px;
        height: 48px;
    
        background-color: $primaryBlack;
    
        border: 2px solid $primaryWhite;
        border-radius: 25px;

        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: $accentColor;
        text-decoration: none;
        @include light-lem-btn-hover;

        &:hover,
        &:focus {
            @include hover-focus-button
        }
    }

    &__list-button {
        @include style-list;
    }
}

.slader {
    &__box {
        display: flex;
        flex-direction: column;
    }

    &__list-right {
        display: flex;
        gap: 16px;
        margin-left: -120px;

        @include for-tablet-landscape-up {
            margin: initial;
            gap: 40px;
        }
    }

    &__list-left {
        display: flex;
        gap: 16px;

        @include for-tablet-landscape-up {
            gap: 40px;
        }
    }
}

.set {
    &__container {
    
        @include for-tablet-landscape-up {
            width: 428px;
        }

        @include for-desktop-up {
            width: 550px;
        }

        @include for-phone-only {
            max-width: 290px;
        }

        &-left {
            margin-left: 100px;
            @include for-phone-only {
                margin-right: auto;
            }
            
        }

        &-right {
            @include for-phone-only {
                margin-right: auto;
            }
            margin-right: 100px;
        }
    }

    &__images-lemon {
        @include for-desktop-up {
            @include between;
        }

        @include for-tablet-landscape-up {
            @include between;
        }
    }

    &__images-darklemon {
        @include for-desktop-up {
            @include between;
        }

        @include for-tablet-landscape-up {
            @include between;
            flex-direction: row-reverse;
        }
    }
}

.swiper {
    &__slide {
        @include drop-shadow;
        margin-bottom: 12px;
        width: 194px;

        @include for-phone-only {
            max-width: 194px;
        }

        @include for-tablet-portrait-up {
            width: 194px;
            margin-bottom: 20px;
        }

        @include for-tablet-landscape-up {
            width: 194px;
        }

        @include for-desktop-up {
            width: 254px;
        }
    }

    &__position {
        display: flex;
        flex-direction: column;
    }

    &__button-lemon {
        display: flex;
        flex-direction: row;

        justify-content: flex-start;
        gap: 32px;

        @include for-tablet-landscape-up {
            display: flex;
            justify-content: flex-end;

        }
    }

    &__button-darklemon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 32px;

        @include for-tablet-landscape-up {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__button-room {
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: $primaryBlack;
        transition: color 250ms linear;

        &:hover,
        &:active,
        &:focus-visible {
            color: $accentColor;
        }
    }
}

.button__section-hotel {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: auto;

    @include for-phone-only {
        margin-left: 27px;
    }

    @include for-tablet-portrait-up {
        margin-top: 20px;
        margin-left: 70px;
        margin-right: auto;
    }

    @include for-tablet-landscape-up {
        margin: 0;
    }
}