.amenities {

    &__section {
            background-color: $bgrColorLemon;
        }
    
    &__lines {
        @include for-phone-only {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @include for-tablet-portrait-up {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @include for-tablet-landscape-up {
            padding-top: 48px;
            padding-bottom: 40px;
        }

        @include for-desktop-up {
            padding-top: 48px;
            padding-bottom: 48px;

            background-image: linear-gradient(to right,
                    $bgrColorLemon 23.51%,
                    rgba(186, 186, 186, 0.4) 23.51%,
                    rgba(186, 186, 186, 0.4) 23.59%,
                    $bgrColorLemon 23.59%,
                    $bgrColorLemon 50%,
                    rgba(186, 186, 186, 0.4) 50%,
                    rgba(186, 186, 186, 0.4) 50.09%,
                    $bgrColorLemon 50.09%,
                    $bgrColorLemon 76.4%,
                    rgba(186, 186, 186, 0.4) 76.4%,
                    rgba(186, 186, 186, 0.4) 76.49%,
                    $bgrColorLemon 76.49%);
        }
    }


    &__title {
        font-family: "Times New Roman";
        font-weight: 400;
        font-size: 32px;
        line-height: 1.15;
        color: $primaryBlack;
        text-transform: uppercase;

        @media (max-width:413px) {
            text-align: center;
            margin-bottom: 12px;
        }

        @media (min-width:414px) {
            margin-bottom: 16px;
        }

        @media screen and (max-width: 400px) {
            font-size: 25px;
        }

    }

    &__discription {
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;
        color: $secondaryTextColor;

        @include for-tablet-landscape-up {
            line-height: 1.21;
            width: 400px;

        }

        @media screen and (max-width: 400px) {
            font-size: 13px;
        }

    }

    &__subtitle {
        font-family: "TimesNewRoman";
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        color: $primaryBlack;
        text-transform: uppercase;
        margin-top: 32px;
        margin-bottom: 16px;

        @include for-tablet-landscape-up {
            line-height: 1.15;

        }

        @media screen and (max-width: 400px) {
            font-size: 20px;
        }
    }

    &__box-second {
        @include for-phone-only {
            margin-top: 16px;
        }

        @include for-tablet-portrait-up {
            margin-top: 16px;
        }

        @include for-tablet-landscape-up {

            margin-top: 0;

        }


    }

    &__button {
        background-color: $primaryBlack;
        color: $primaryWhite;
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;

        border-radius: 25px;
        border: 1px solid $accentColor;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        @include dark-btn-hover;

        @include for-phone-only {
            font-size: 14px;
            padding: 15px 30px;
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 16px;
            margin-top: 16px;
        }

        @include for-tablet-portrait-up {
            width: 384px;
            height: 64px;
            margin-top: 32px;
            margin-bottom: 20px;
            padding: 20px 43px;
        }

        @include for-tablet-landscape-up {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 32px;
            margin-left: auto;
            width: 434px;
            padding: 18px 38px;
        }

        @include for-desktop-up {
            margin-left: 563px;
        }
    }

    &__icon {
        display: block;
        width: 24px;
        height: 24px;
        fill: currentColor;
    }

    &__list {
        @include style-list
    }

    &__box {
        @include for-tablet-landscape-up {
            display: flex;
            flex-wrap: wrap;
            gap: 80px;
        }

        @include for-desktop-up {
            gap: 159px;
        }
    }

    &__subdiscription {
        @extend .amenities__discription;

        @include for-tablet-landscape-up {
            width: 757px;
        }
    }

    &__discription-additional {
        @extend .amenities__discription;

        @include for-tablet-landscape-up {
            width: 450px;
        }

        @include for-desktop-up {
            width: 495px;
        }
    }

    &__box-third {
        @include for-tablet-landscape-up {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        @include for-desktop-up {
            gap: 64px;
        }
    }
}


.link__amenities {
    text-decoration: none;
    font-family: 'Montserrat';

    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: $brownColor;

    display: flex;
    align-items: center;

    @include for-phone-only {
        font-size: 12px;
        gap: 8px;
        margin-left: 16px;
    }

    @include for-tablet-portrait-up {
        margin-left: 16px;
        font-size: 16px;
        gap: 16px;
        white-space: nowrap;
    }

    @include for-tablet-landscape-up {

        font-size: 20px;
        line-height: 1.2;
        margin-left: 497px;
    }

    @include for-desktop-up {
        margin-left: 563px;
    }

    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}
