.restaurant {
  padding: 32px 0px;
}
.restaurant-caption {
  margin-bottom: 32px;
}
table {
  margin-bottom: 16px;
  border-collapse: collapse;
}

td {
  padding: 0;
  margin: 0;
}

.menu {
  font-size: 14px;
  letter-spacing: 0.02em;
  width: 100%;
  color: $primaryBlack;
}

.menu-caption {
  font-family: 'TimesNewRoman';
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: left;
  margin-bottom: 17px;
}
.menu__name-food {
  width: 60%;
  font-weight: 500;
  line-height: 17px;
  padding-bottom: 3px;
}
.menu__weight-food {
  width: 20%;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;
}

.menu__price-food {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.menu__composition-food {
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 8px;
}

.button-menu {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $accentColor;
  background: $primaryBlack;

  border: 2px solid #fffdee;
  border-radius: 25px;
}
