td {
  padding: 0;
  margin: 0;
}

.restaurant-menu {
  background: $bgrColorDarkLemon;
  &__lines {
      padding-top: 32px;
      padding-bottom: 32px;
  
      @include for-tablet-landscape-up {
        padding-top: 58px;
        padding-bottom: 40px;
      }
  
      @include for-desktop-up {
        padding-bottom: 60px;
        background-image: linear-gradient(to right,
            $bgrColorDarkLemon 23.51%,
            rgba(186, 186, 186, 0.4) 23.51%,
            rgba(186, 186, 186, 0.4) 23.59%,
            $bgrColorDarkLemon 23.59%,
            $bgrColorDarkLemon 50%,
            rgba(186, 186, 186, 0.4) 50%,
            rgba(186, 186, 186, 0.4) 50.09%,
            $bgrColorDarkLemon 50.09%,
            $bgrColorDarkLemon 76.4%,
            rgba(186, 186, 186, 0.4) 76.4%,
            rgba(186, 186, 186, 0.4) 76.49%,
            $bgrColorDarkLemon 76.49%);
      }
    }
  
  &__caption {
    margin-bottom: 32px;
    font-family: 'TimesNewRoman';
    text-transform: uppercase;

    font-size: 32px;
    font-weight: 700;
    line-height: 1.16;
    color: $primaryBlack;

    @media screen and (max-width: 400px) {
        font-size: 20px;
      }

    @include for-tablet-landscape-up {
      margin-bottom: 40px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include for-tablet-landscape-up {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.menu-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu {
  max-width: 384px;
  width: 100%;

  font-size: 16px;
  letter-spacing: 0.02em;

  color: $primaryBlack;
  border-collapse: collapse;

  @include for-tablet-landscape-up {
    max-width: 430px;
  }

  @include for-desktop-up {
    max-width: 485px;
  }

  &__name-food {
    width: 60%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    padding-bottom: 4px;

    @media screen and (max-width: 400px) {
      font-size: 10px;
      margin-top: 0;
    }

    @include for-desktop-up {
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__weight-food {
    width: 20%;
    font-weight: 300;
    font-size: 14px;
    text-align: right;

    line-height: 1.21;

    @media screen and (max-width: 400px) {
      font-size: 10px;
    }
  }

  &__price-food {
    text-align: right;
    width: 20%;
    font-weight: 700;
    line-height: 1.21;
    font-size: 14px;

    @include for-desktop-up {
      font-size: 16px;
    }

    @media screen and (max-width: 400px) {
      font-size: 10px;
    }
  }

  &__composition-food {
    padding-bottom: 8px;

    font-size: 10px;
    line-height: 1.2;

    @media screen and (max-width: 400px) {
      font-size: 8px;
    }

    @include for-desktop-up {
      padding-bottom: 12px;
    }

    &.dropping {
      padding: 0;
    }
  }
}

.menu-caption {
  margin-bottom: 16px;

  font-family: 'TimesNewRoman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: left;

  @media screen and (max-width: 400px) {
    font-size: 15px;
  }

  @include for-tablet-landscape-up {
    margin-bottom: 20px;
  }

  @include for-desktop-up {
    font-size: 24px;
    line-height: 1.16;
  }
}

.drink,
.dessert {
  padding-bottom: 11px;

  @include for-desktop-up {
    padding-bottom: 12px;
  }
}

.dropping {
  padding: 0;
}
