.backdrop {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    background-color: rgba(14, 15, 18, 0.4);

    &.is-hidden {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;

        & .modal {
            transform: translate(-50%, -50%) scale(0.8);
        }

        & .modal-price {
            transform: translate(-50%, -50%) scale(0.8);
        }

        & .modal-room {
            transform: translate(-50%, -50%) scale(0.8);
        }
    }

    @media screen and (max-width: 1023px) {
        overflow-y: scroll;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;

    max-width: 414px;
    width: 100%;
    height: 668px;
    background: $bgrColorLemon;

    @include for-tablet-landscape-up {
        height: 522px;
        max-width: 712px;
    }

    overflow: hidden;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;

    & .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.button-close {
    position: absolute;
    right: 16px;
    top: 16px;

    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    color: $primaryBlack;
    @include light-text-hover;

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        stroke: currentColor;
    }
}

.modal-form {
    padding: 60px 15px;

    @include for-tablet-landscape-up {
        padding: 60px 60px;
    }

    &__caption {
        margin-bottom: 40px;

        font-family: 'TimesNewRoman';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        text-align: center;
        color: $primaryBlack;
        text-transform: uppercase;

        @include for-tablet-landscape-up {
            font-size: 40px;
        }
    }
}

.form-box {
    @include for-tablet-landscape-up {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &--space {
        @media screen and (max-width: 1023px) {
            margin-bottom: 20px;
        }
    }
}

.menu-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include for-tablet-landscape-up {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__set {
        position: relative;
    }

    &__input {
        width: 100%;
        height: 54px;
        padding: 16px 12px;
        outline: none;
        border: 1px solid $brownColor;
        border-radius: 2px;
        cursor: pointer;
        font-family: 'TimesNewRoman';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        color: #808080;
        background-color: $bgrColorLemon;

        appearance: none;

        &::placeholder {
            color: #808080;
        }

        @include for-tablet-landscape-up {
            width: 288px;
        }
    }
}

.menu-form__label,
.menu-form__select {
    display: block;
    margin-top: 8px;
    margin-left: 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;

    color: $brownColor;
}

.menu-form__select::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.45407 7.93918C2.73536 7.65797 3.11683 7.5 3.51457 7.5C3.91232 7.5 4.29378 7.65797 4.57507 7.93918L12.0001 15.3642L19.4251 7.93918C19.708 7.66594 20.0869 7.51475 20.4802 7.51817C20.8735 7.52159 21.2497 7.67934 21.5278 7.95745C21.8059 8.23556 21.9637 8.61178 21.9671 9.00508C21.9705 9.39837 21.8193 9.77728 21.5461 10.0602L13.0606 18.5457C12.7793 18.8269 12.3978 18.9849 12.0001 18.9849C11.6023 18.9849 11.2209 18.8269 10.9396 18.5457L2.45407 10.0602C2.17287 9.77889 2.01489 9.39743 2.01489 8.99968C2.01489 8.60193 2.17287 8.22047 2.45407 7.93918Z' fill='%23C79002'/%3E%3C/svg%3E");
    transform: rotate(0deg);
}

.menu-form__input:focus+.menu-form__select::after {
    transform: rotate(180deg);
}