<div data-modal class="backdrop is-hidden" data-modal-price data-modal-price-1 data-modal-price-2 data-modal-price-3>
    <div class="modal-price">
        <button class="button-close" type="button" data-modal-price-close>
            <svg class="button-close__icon" width="24 " height="24">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-form">
            <h2 class="modal-form__caption">Ціни на номер</h2>
            <h3 class="modal-form__type-room">Двомісний люкс</h3>
            <p class="modal-form__descr">Категорія номеру</p>
            <form class="menu-form">
                <div class="form-box">
                    <div class="menu-form__set form-box--space">
                        <select class="menu-form__input" id="amount-night" name="night">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <label class="menu-form__select" for="amount-night">Кількість ночей</label>
                    </div>
                </div>
                <div class="form-box">
                    <div class="menu-form__set">
                        <input disabled class="menu-form__input" type="number" id="cost" value="1000" placeholder="1000">
                        <label class="menu-form__label" for="cost">грн</label>
                    </div>
                </div>
            </form>
            <button class="form-btn" type="submit">Забронювати номер</button>
        </div>
    </div>
</div>