<div class="modal-overlay">
    <div class="modal-price modal" data-target="price">
        <button type="button" class="modal__close-button" data-modal-price-close>
            <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <form class="form-price">
            <h2 class="form__title">Ціни на номер</h2>
            <h3 class="form-price__subtitle">Двомісний люкс</h3>
            <p class="form-price__text">Категорія номеру</p>
            <div class="form__container">
                <label class="form__label">
                    <input required type="number" placeholder="1" class="form-price__input" />
                    Кількість ночей
                </label>

                <label class="form__label">
                    <input type="number" value="1000" disabled class="form-price__input" />
                    грн
                </label>
            </div>
            <button type="submit" class="form-btn">Забронювати номер</button>

            <div></div>
        </form>
    </div>

    <div class="modal-room modal" data-target="room">
        <button type="button" class="modal__close-button" data-modal-room-close>
            <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <form class="form-room">
            <h2 class="form__title">Забронювати номер</h2>
            <div class="form__container">
                <label class="form__label">
                    <input required type="text" title="Вкажіть ім'я для броні" pattern="([a-zA-Zа-яА-Я]+)"
                        placeholder="Ваше ім'я" class="form-room__input" />
                    На кого забронювати номер?
                </label>
                <label class="form__label">
                    <input required type="tel" title="+380xxxxxxxxx" placeholder="+38 (___) ___-__-__"
                        pattern="([+][0-9\+]{12})" class="form-room__input" />
                    Номер телефону
                </label>
            </div>
            <div class="form__container">
                <label class="form__label form__label--select">
                    <select name="room" class="form-room__input">
                        <option value="Двохмісний номер">Двохмісний номер</option>
                        <option value="Троьхмісний номер">Троьхмісний номер</option>
                        <option value="Двомісний люкс" selected>Двомісний люкс</option>
                    </select>
                    Категорія номеру
                </label>
            </div>
            <div class="form__container">
                <label class="form__label form__label--select">
                    <select name="date" class="form-room__input">
                        <option value="06.12" selected>Сьогодні</option>
                        <option value="07.12">07.12.2022</option>
                        <option value="08.12">08.12.2022</option>
                        <option value="09.12">09.12.2022</option>
                        <option value="09.12">10.12.2022</option>
                        <option value="09.12">11.12.2022</option>
                    </select>
                    Дата заїзду
                </label>
                <label class="form__label form__label--select">
                    <select name="date" class="form-room__input">
                        <option value="06.12" selected>Сьогодні</option>
                        <option value="07.12">07.12.2022</option>
                        <option value="08.12">08.12.2022</option>
                        <option value="09.12">09.12.2022</option>
                        <option value="09.12">10.12.2022</option>
                        <option value="09.12">11.12.2022</option>
                    </select>
                    Дата виїзду
                </label>
            </div>
            <button type="submit" class="form-btn">Оформити бронювання</button>
        </form>
    </div>
    
   <div class="modal-table modal" data-target="table">
        <button type="button" class="modal__close-button" data-modal-close>
            <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <form class="form-table">
            <h2 class="form__title">Забронювати столик</h2>
            <div class="form__container">
                <label class="form__label">
                    <input required type="text" placeholder="Ваше ім'я" title="Вкажіть ім'я для броні"
                        pattern="([a-zA-Zа-яА-Я]+)" class="form-table__input" />
                    На кого забронювати столик?
                </label>
                <label class="form__label">
                    <input required type="tel" title="+380xxxxxxxxx" placeholder="+38 (___) ___-__-__"
                        pattern="([+][0-9\+]{12})" class="form-table__input" />
                    Номер телефону
                </label>
            </div>
            <div class="form__container">
                <label class="form__label form__label--select">
                    <select name="people" class="form-table__input">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    Столик на яку кількість осіб?
                </label>
                <label class="form__label form__label--select">
                    <select name="date" class="form-table__input">
                        <option value="06.12" selected>Сьогодні</option>
                        <option value="07.12">07.12.2022</option>
                        <option value="08.12">08.12.2022</option>
                        <option value="09.12">09.12.2022</option>
                        <option value="09.12">10.12.2022</option>
                        <option value="09.12">11.12.2022</option>
                    </select>
                    На яку дату бронювати?
                </label>
            </div>
            <button type="submit" class="form-btn">Оформити бронювання</button>
        </form>
    </div>

</div>