<div data-modal class="backdrop is-hidden" data-modal-table data-modal-table-1>
    <div class="modal">
        <button class="button-close" type="button" data-modal-table-close>
            <svg class="button-close__icon" width="24 " height="24">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-form">
            <h2 class="modal-form__caption">Забронювати столик</h2>
            <form class="menu-form">
                <div class="form-box">
                    <div class="menu-form__set form-box--space">
                        <input class="menu-form__input" placeholder="Ваше ім’я" type="text" name="name-people-table" id="name-people-table">
                        <label class="menu-form__label" for="name-people-table">На кого забронювати столик?</label>
                    </div>
                    <div class="menu-form__set">
                        <input required class="menu-form__input" pattern="([+][0-9\+]{12})" placeholder="+38 (___) ___-__-__" type="tel" name="phone"
                            id="tel-user-table" >
                        <label class="menu-form__label" for="tel-user-table">Номер телефону</label>
                    </div>
                </div>
                <div class="form-box">
                    <div class="menu-form__set form-box--space">
                        <select class="menu-form__input" id="amount-of-people" name="amount-of-people">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <label class="menu-form__select" for="amount-of-people">Столик на яку кількість
                            осіб?</label>
                    </div>
                    <div class="menu-form__set">
                        <select class="menu-form__input" id="date-book-table" name="date-book-table">
                            <option value="06.12" selected>Сьогодні</option>
                            <option value="07.12">07.12.2022</option>
                            <option value="08.12">08.12.2022</option>
                            <option value="09.12">09.12.2022</option>
                        </select>
                        <label class="menu-form__select" for="date-book-table">На яку дату бронювати?</label>
                    </div>
                </div>
            </form>
            <button class="form-btn" type="submit">Оформити бронювання</button>
        </div>
    </div>
</div>