<section class="section__room-hero">
  <div class="container">
    <h2 class="hero-room">ДВОМІСНИЙ НОМЕР <br>
        люкс</h2>
  
    <p class="hero__discription">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div>
      <ul class="hero__list-icons">
        <li>
            <a href="">
                <svg class="hero__icon" width="22" height="22"><use href="/src/images/sprite.svg#icon-instagram"></use></svg>
            </a>
        </li>
        <li><a>
            <svg class="hero__icon" width="20" height="2"><use href="/src/images/sprite.svg#icon-facebook"></use></svg>
        </a></li>
        <li><a href=""><svg class="hero__icon" width="19.5" height="17.5"><use href="/src/images/sprite.svg#icon-instagram"></use></svg>
    </div>
    <button class="hero__button">Переглянути ціни</button>
  </div>
</section>
