<footer class="footer">
  <div class="container footer__container">
    <div class="footer__wrapper">
      <div class="container__logo-footer">
        <a href="#" class="footer__logo">MIMIHO</a>
      </div>
      <div class="container__navigation-footer">
        <nav class="footer__navigation">
          <ul class="footer__list">
            <li><a href="#" class="footer__link">Головна</a></li>
            <li><a href="#" class="footer__link">Ресторан</a></li>
            <li><a href="#" class="footer__link">Готель</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <ul class="footer__list-icons">
      <li>
        <a href="#" class="footer__link-icon">
          <svg class="footer__icon" width="22" height="22">
            <use href="/src/images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="footer__link-icon">
          <svg class="footer__icon" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="footer__link-icon">
          <svg class="footer__icon" width="19.5" height="17.5">
            <use href="/src/images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="footer__list-networks">
      <li>
        <a href="#" class="footer__link-network"
          >Telegram
          <svg class="footer__icon" width="19.5" height="17.5">
            <use href="/src/images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="footer__link-network"
          >Facebook
          <svg class="footer__icon" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="footer__link-network"
          >Instagram
          <svg class="footer__icon" width="22" height="22">
            <use href="/src/images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
