<footer class="footer">
    <div class="container footer__container">
        <div class="footer__wrapper">
            <div class="container__logo-footer">
                <a href="./index.html" class="footer__logo">MIMIHO</a>
            </div>
            <div class="container__navigation-footer">
                <nav class="footer__navigation">
                    <ul class="footer__list">
                        <li><a href="./index.html" class="footer__link">Головна</a></li>
                        <li><a href="./restaurant.html" class="footer__link">Ресторан</a></li>
                        <li><a href="./hotel.html" class="footer__link">Готель</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <ul class="footer__list-icons">
            <li>
                <a href="https://www.instagram.com/" class="footer__link-icon" target="_blank">
                    <svg class="footer__icon" width="22" height="22">
                        <use href="/src/images/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" class="footer__link-icon" target="_blank">
                    <svg class="footer__icon" width="20" height="20">
                        <use href="/src/images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://telegram.org/" class="footer__link-icon" target="_blank">
                    <svg class="footer__icon" width="24" height="24">
                        <use href="/src/images/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <ul class="footer__list-networks">
            <li>
                <a href="https://telegram.org/" class="footer__link-network" target="_blank">Telegram
                    <svg class="footer__icon" width="24" height="24">
                        <use href="/src/images/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" class="footer__link-network" target="_blank">Facebook
                    <svg class="footer__icon" width="20" height="20">
                        <use href="/src/images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" class="footer__link-network" target="_blank">Instagram
                    <svg class="footer__icon" width="22" height="22">
                        <use href="/src/images/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>