<header class="header container">
  <div class="header__container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">MIMIHO</a>
      <ul class="header__menu">
        <li class="header__item">
          <a href="#" class="header__link">Ресторан</a>
        </li>
        <li class="header__item">
          <svg class="header__icon" width="12" height="20">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <a href="#" class="header__phone">095 555 95 33</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Готель</a>
        </li>
        <li class="header__item">
          <svg class="header__icon" width="12" height="20">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <a href="#" class="header__phone">066 849 10 89  067 275 85 40</a>
        </li>
      </ul>
    </nav>
    <div class="social">
      <ul class="social__menu">
        <li class="social__item">
          <a href="#" class="social__link"
            >
            <svg class="social__icon" width="24" height="24">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link"
            >
            <svg class="social__icon" width="24" height="24">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link"
            >
            <svg class="social__icon" width="24" height="24">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
