<header class="header container">
  <div class="header__container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">MIMIHO</a>
      <ul class="header__menu">
        <li class="header__item">
          <a href="./restaurant.html" class="header__link">Ресторан</a>
        </li>
        <li class="header__item header__item--framed header__item--moved">
          <svg class="header__icon header__icon--margin" width="24" height="24">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <a href="Tel:+380955559533" class="header__phone">095 555 95 33</a>
        </li>
        <li class="header__item">
          <a href="./hotel.html" class="header__link">Готель</a>
        </li>
        <li class="header__item header__item--framed">
          <svg class="header__icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <a class="header__phone" href="Tel:+380668491089">066 849 10 89</a>
          <a class="header__phone header__phone--space" href="Tel:+380672758540">067 275 85 40</a>
        </li>
      </ul>
    </nav>
    <div class="social-header">
      <ul class="social-header__menu">
        <li class="social-header__item">
          <a href="https://www.instagram.com/" class="social__link" target="_blank">
            <svg class="social-header__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-header__item">
          <a href="https://www.facebook.com/" class="social__link" target="_blank">
            <svg class="social-header__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-header__item">
          <a href="https://telegram.org/" class="social__link" target="_blank">
            <svg class="social-header__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>