<section class="hero hero-restaurant">
  <div class="container hero__box">
    <div class="hero__container">
      <address class="hero__location">
        <svg class="hero__icon">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg><a href="https://goo.gl/maps/GUURsLYALhGSxx546" class="hero__link" target="_blank"
          rel="noopener noreferrer nofollow">Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15</a>
      </address>
      <h1 class="hero__title"> MIMIHO</h1>
      <h2 class="hero__subtitle">Ресторан</h2>
      <p class="hero__item">Смак життя 24/7</p>
      <button type="button" class="button button--left" data-modal-table-open>
        Забронювати столик
      </button>
      <a class="hero-restaurant__link-menu button--moved" href="#menu">
        Переглянути меню
      </a>

      <div class="social-hero">
        <ul class="social-hero__menu">
          <li class="social-hero__item">
            <a href="https://www.instagram.com/" class="social-hero__link" target="_blank">
              <svg class="social-hero__icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-hero__item">
            <a href="https://www.facebook.com/" class="social-hero__link" target="_blank">
              <svg class="social-hero__icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-hero__item">
            <a href="https://telegram.org/" class="social-hero__link" target="_blank">
              <svg class="social-hero__icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>