<section class="hero-room">
  <div class="hero-room__swiper">
    <div class="swiper-hero">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero-room__slide">
          <img
            srcset="
              ./images/room/hero-room-mobile.jpg      414w,
              ./images/room/hero-room-mobile@2x.jpg   828w,
              ./images/room/hero-room-tablet.jpg     1024w,
              ./images/room/hero-room-tablet@2x.jpg  2048w,
              ./images/room/hero-room-desktop.jpg    1280w,
              ./images/room/hero-room-desktop@2x.jpg 2560w
            "
            src="./images/room/hero-room-desktop.jpg"
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
            alt="Двомісний номер"
            class="hero-room__image"
          />
        </div>
        <div class="swiper-slide hero-room__slide">
          <img
            srcset="
              ./images/room/hero-rroom-mobile.jpg      414w,
              ./images/room/hero-rroom-mobile@2x.jpg   828w,
              ./images/room/hero-rroom-tablet.jpg     1024w,
              ./images/room/hero-rroom-tablet@2x.jpg  2048w,
              ./images/room/hero-rroom-desktop.jpg    1280w,
              ./images/room/hero-rroom-desktop@2x.jpg 2560w
            "
            src="./images/room/hero-rroom-desktop.jpg"
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
            alt="Двомісний номер"
            class="hero-room__image"
          />
        </div>
      </div>
      <h1 class="hero-room__title">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="hero-room__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <a href="#" class="hero-room__social hero-room__social--instagram"
        ><svg class="hero-room__icon" width="24px" height="24px">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a href="#" class="hero-room__social hero-room__social--facebook"
        ><svg class="hero-room__icon" width="24px" height="24px">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="#" class="hero-room__social hero-room__social--telegram"
        ><svg class="hero-room__icon" width="24px" height="24px">
          <use href="./images/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
      <div class="hero-room__address">
        <svg class="hero-room__address-icon" >
          <use href="./images/sprite.svg#icon-location"></use></svg
        ><a
          href="https://goo.gl/maps/GUURsLYALhGSxx546"
          class="hero-room__address-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
        >
      </div>
      <button class="hero-room__price-button" type="button">
        Переглянути ціни
      </button>
      <button
        type="button"
        class="swiper-button-prev hero-room__button hero-room__prev-button"
      >
        <svg class="hero-room__icon" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        type="button"
        class="swiper-button-next hero-room__button hero-room__next-button"
      >
        <svg class="hero-room__icon" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
