<section class="hero-hotel container">
  <div class="hero-hotel__container">
    <div class="hero-hotel__location">
      <svg class="hero-hotel__icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-location"></use>
      </svg>
      <a href="https://goo.gl/maps/Vi9QzVhpaB3xQdA97" class="hero-hotel__link"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
    </div>
    <h1 class="hero-hotel__title">MIMIHO</h1>
    <h2 class="hero-hotel__subtitle">Готель</h2>
    <button type="button" class="button button--left">
      Забронювати столик
    </button>
    <button type="button" class="button button--moved">
      Забронювати номер
    </button>

    <div class="social-hero">
      <ul class="social-hero__menu">
        <li class="social-hero__item">
          <a href="#" class="social-hero__link">
            <svg class="social-hero__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-hero__item">
          <a href="#" class="social__link">
            <svg class="social-hero__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-hero__item">
          <a href="#" class="social-hero__link">
            <svg class="social-hero__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
