<section class="hero-room">
  <div class="hero-room__container">
    <div class="hero-room__swiper">
      <div class="swiper swiper-hero">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero-room__slide">
            <picture>
              <source
                srcset="
                  ./images/room/hero-room-desktop.jpg    1x,
                  ./images/room/hero-room-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room/hero-room-tablet.jpg    1x,
                  ./images/room/hero-room-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room/hero-room-mobile.jpg    1x,
                  ./images/room/hero-room-mobile@2x.jpg 2x
                "
              />
              <img
                class="hero-room__image"
                src="./images/room/hero-room-desktop.jpg"
                alt="Двомісний номер"
              />
            </picture>
          </div>
          <div class="swiper-slide hero-room__slide">
            <picture>
              <source
                srcset="
                  ./images/room/hero-room-dark-desktop.jpg    1x,
                  ./images/room/hero-room-dark-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room/hero-room-dark-tablet.jpg    1x,
                  ./images/room/hero-room-dark-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room/hero-room-dark-mobile.jpg    1x,
                  ./images/room/hero-room-dark-mobile@2x.jpg 2x
                "
              />
              <img
                class="hero-room__image"
                src="./images/room/hero-room-dark-desktop.jpg"
                alt="Двомісний номер"
              />
            </picture>
          </div>
        </div>
        <picture>
          <source
            srcset="
              ./images/room/linear-desktop.png    1x,
              ./images/room/linear-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room/linear-tablet.png    1x,
              ./images/room/linear-tablet@2x.png 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/room/linear-mobile.png    1x,
              ./images/room/linear-mobile@2x.png 2x
            "
          />
          <img
            class="hero-room__gradient"
            src="./images/room/linear-desktop.png"
            alt="Градієнт"
          />
        </picture>
        <h1 class="hero-room__title">Двомісний номер <span class="room-short-desc__name-down">люкс</span></h1>
        <p class="hero-room__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="hero-room__social hero-room__social--instagram"
          ><svg class="hero-room__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="hero-room__social hero-room__social--facebook"
          ><svg class="hero-room__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://telegram.org/"
          target="_blank"
          class="hero-room__social hero-room__social--telegram"
          ><svg class="hero-room__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
        <address class="hero-room__address">
          <svg class="hero-room__address-icon">
            <use href="./images/sprite.svg#icon-location"></use></svg><a
            href="https://goo.gl/maps/GUURsLYALhGSxx546"
            class="hero-room__address-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15</a
          >
        </address>
        <button
          class="hero-room__price-button"
          type="button"
          data-modal-price-open
        >
          Переглянути ціни
        </button>
        <button
          type="button"
          class="swiper-hero-button-prev hero-room__button hero-room__button--prev"
        >
          <svg class="hero-room__icon" width="40px" height="40px">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          type="button"
          class="swiper-hero-button-next hero-room__button hero-room__button--next"
        >
          <svg class="hero-room__icon" width="40px" height="40px">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
