<section class="hotel-details">
  <div class="hotel-details__container">
    <h3 class="hotel-details__subtitle">MIMIHO</h3>
    <h2 class="hotel-details__title">Готель</h2>
    <p class="hotel-details__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <!-- Slider main container -->
    <div dir="rtl" class="swiper swiper-hotel-details hotel-details__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div
          class="swiper-slide hotel-details__slide hotel-details__slide--square"
        >
          <img
            srcset="
              ./images/homepage/hotel_slider/hotel_slider1.jpg    270w,
              ./images/homepage/hotel_slider/hotel_slider1@2x.jpg 540w
            "
            sizes="(min-width: 414px) 270px, 65vw"
            src="./images/homepage/hotel_slider/hotel_slider1.jpg"
            alt="Зразок страви"
            class="hotel-details__image"
          />
        </div>
        <div
          class="swiper-slide hotel-details__slide hotel-details__slide--narrow"
        >
          <img
            srcset="
              ./images/homepage/hotel_slider/hotel_slider2.jpg    270w,
              ./images/homepage/hotel_slider/hotel_slider2@2x.jpg 540w
            "
            sizes="(min-width: 414px) 270px, 65vw"
            src="./images/homepage/hotel_slider/hotel_slider2.jpg"
            alt="Зразок страви"
            class="hotel-details__image"
          />
        </div>
        <div
          class="swiper-slide hotel-details__slide hotel-details__slide--square"
        >
          <img
            srcset="
              ./images/homepage/hotel_slider/hotel_slider3.jpg    270w,
              ./images/homepage/hotel_slider/hotel_slider3@2x.jpg 540w
            "
            sizes="(min-width: 414px) 270px, 65vw"
            src="./images/homepage/hotel_slider/hotel_slider3.jpg"
            alt="Зразок страви"
            class="hotel-details__image"
          />
        </div>
      </div>
    </div>
    <div class="hotel-details__swiper-button-wrapper">
      <button
        type="button"
        class="swiper-hotel-details-button-prev hotel-details__swiper-button"
      >
        <svg class="hotel-details__icon" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button
        type="button"
        class="swiper-hotel-details-button-next hotel-details__swiper-button"
      >
        <svg class="hotel-details__icon" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="hotel-details__modal-button-wrapper">
      <button
        class="hotel-details__modal-button"
        type="button"
        data-modal-room-open-1
      >
        Забронювати номер
      </button>
      <button
        class="hotel-details__modal-button"
        type="button"
        data-modal-price-1-open
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
