<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">Міміно</h1>
    <h2 class="hero__subtitle">Ресторано-готельний комплекс</h2>
    <p class="hero__item">Смак життя 24/7</p>
    <button class="button">Забронювати столик</button>
    <button class="button">Забронювати номер</button>
    <a href="" class="hero__link"
      >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
    >
    <div class="social">
      <ul class="social__menu">
        <li class="social__item">
          <a href="" class="social__link"
            ><svg class="social__icon" width="24" height="24">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link"
            ><svg class="social__icon" width="24" height="24">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link"
            ><svg class="social__icon" width="24" height="24">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
