<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mimino</title>
    <link rel="stylesheet" href="../sass/pages/_home-contacts.scss" />
    <link href="../fonts/film-p3-bold.woff2" rel="stylesheet">
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <Section>
        <div class="container">
            <h1 class="name">МІМІНО</h1>
            <h3 class="name_description">Ресторанно-готельний комплекс</h3>

            <p class="location">Ресторан</p>

            <div class="contacts__aria">
            <svg class="contacts-menu__icon" width="12" height="20">
                <use href="../images/sprite.svg#icon-phone"></use></svg>

            <a class="contacts" href="Tel:+380955559533">095 555 95 33</a>
          </div>

            <p class="location">Готель</p>

            <div class="contacts__aria">
            <svg class="contacts-menu__icon" width="12" height="20">
                <use href="../images/sprite.svg#icon-phone"></use></svg>

            <a class="contacts" href="Tel:+380668491089">066 849 10 89</a>

            <a class="contacts" href="Tel:+380672758540">067 275 85 40</a>
            </div>

            <div class="contacts__aria">
            <svg class="contacts-menu__icon" width="12" height="20">
              <use href="../images/sprite.svg#icon-location"></use></svg>

            <address class="contacts">Україна, м. Полтава,<br />
                вул. Маршала<br />
                Бірюзова, 15</address>
              </div>

            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22151.77385024023!2d34.544217890362745!3d49.59200696049893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1669920811057!5m2!1sru!2sua"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
                
        </div>
    </Section>
  </body>
</html>
