<section class="room-short-desc">
  <div class="hotel-rooms__lemon">
    <div
      class="container hotel__room-lemon-line hotel__room-lemon-line--tablet"
    >
      <span class="room-short-desc__title"> Amet minim mollit non</span>
      <h3 class="room-short-desc__label">mimino</h3>
      <h2 class="room-short-desc__name">
        Двомісний номер <span class="room-short-desc__name-down">люкс</span>
      </h2>
      <p class="room-short-desc__about">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="hotel__img hotel__img-lemon"
        srcset="
          ./images/hotel/room-mobile.jpg     246w,
          ./images/hotel/room-mobile@2x.jpg  488w,
          ./images/hotel/room-tablet.jpg     400w,
          ./images/hotel/room-tablet@2x.jpg  800w,
          ./images/hotel/room-desktop.jpg    460w,
          ./images/hotel/room-desktop@2x.jpg 920w
        "
        src="./images/hotel/room-mobile.jpg"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 246px, 60vw"
        alt="Кімната з апартаментами"
      />
      <div class="set__images-lemon">
        <div class="set__container set__container-right">
          <div dir="rtl" class="swiper swiper-hotel-lux">
            <div class="swiper-wrapper swiper__slider">
              <div class="swiper-slide swiper__slide">
                <img
                  class="swiper__slide"
                  srcset="
                    ./images/hotel/slider/room_slider1-mobile.jpg     194w,
                    ./images/hotel/slider/room_slider1-mobile@2x.jpg  388w,
                    ./images/hotel/slider/room_slider1-desktop.jpg    254w,
                    ./images/hotel/slider/room_slider1-desktop@2x.jpg 508w
                  "
                  src="./images/hotel/slider/room_slider1-mobile.jpg"
                  sizes="(min-width: 1280px) 255px, (min-width: 414px) 195px, 47vw"
                  alt="Стіл з раковиною"
                />
              </div>
              <div class="swiper-slide swiper__slide">
                <img
                  class="swiper__slide"
                  srcset="
                    ./images/hotel/slider/room_slider2-mobile.jpg     194w,
                    ./images/hotel/slider/room_slider2-mobile@2x.jpg  388w,
                    ./images/hotel/slider/room_slider2-desktop.jpg    254w,
                    ./images/hotel/slider/room_slider2-desktop@2x.jpg 508w
                  "
                  src="./images/hotel/slider/room_slider2-mobile.jpg"
                  sizes="(min-width: 1280px) 255px, (min-width: 414px) 195px, 47vw"
                  alt="Чашка кави, навпроти вікна"
                />
              </div>
            </div>
          </div>
          <div class="swiper__button-lemon">
            <button
              type="button"
              class="swiper-hotel-lux-button-next swiper__button-room"
            >
              <svg class="swiper__icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button
              type="button"
              class="swiper-hotel-lux-button-prev swiper__button-room"
            >
              <svg class="swiper__icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="button__section-hotel">
          <ul class="room-short-desc__list-button">
            <li class="room-short-desc__button-box">
              <a class="room-short-desc__link" href="./room.html"
                >Детальніше</a>
            </li>
            <li>
              <button
                class="room-short-desc__button"
                type="button"
                data-modal-price-1-open
              >
                Переглянути ціни
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="room-short-desc">
  <div class="hotel-rooms__darklemon">
    <div class="container hotel__room-darklemon-line">
      <div class="room-short-desc__info">
        <span class="room-short-desc__title"> Amet minim mollit non</span>
        <h3 class="room-short-desc__label">mimino</h3>
        <div class="hotel__colum-box">
          <h2 class="room-short-desc__name">Трьомісний номер</h2>
          <p class="room-short-desc__about-lemon">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
      <img
        class="hotel__img-darklemon"
        srcset="
          ./images/hotel/room-mobile.jpg     246w,
          ./images/hotel/room-mobile@2x.jpg  488w,
          ./images/hotel/room-tablet.jpg     400w,
          ./images/hotel/room-tablet@2x.jpg  800w,
          ./images/hotel/room-desktop.jpg    460w,
          ./images/hotel/room-desktop@2x.jpg 920w
        "
        src="./images/hotel/room-mobile.jpg"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 246px, 80vw"
        alt="Кімната з апартаментами"
      />
      <div class="set__images-darklemon">
        <div class="set__container set__container-left">
          <div class="swiper swiper-hotel-triple">
            <div class="swiper-wrapper swiper__slider">
              <div class="swiper-slide swiper__slide">
                <img
                  class="swiper__slide"
                  srcset="
                    ./images/hotel/slider/room_slider1-mobile.jpg     194w,
                    ./images/hotel/slider/room_slider1-mobile@2x.jpg  388w,
                    ./images/hotel/slider/room_slider1-desktop.jpg    254w,
                    ./images/hotel/slider/room_slider1-desktop@2x.jpg 508w
                  "
                  src="./images/hotel/slider/room_slider1-mobile.jpg"
                  sizes="(min-width: 1280px) 255px, (min-width: 414px) 195px, 47vw"
                  alt="Стіл з раковиною"
                />
              </div>
              <div class="swiper-slide swiper__slide">
                <img
                  class="swiper__slide"
                  srcset="
                    ./images/hotel/slider/room_slider2-mobile.jpg     194w,
                    ./images/hotel/slider/room_slider2-mobile@2x.jpg  388w,
                    ./images/hotel/slider/room_slider2-desktop.jpg    254w,
                    ./images/hotel/slider/room_slider2-desktop@2x.jpg 508w
                  "
                  src="./images/hotel/slider/room_slider2-mobile.jpg"
                  sizes="(min-width: 1280px) 255px, (min-width: 414px) 195px, 47vw"
                  alt="Чашка кави, навпроти вікна"
                />
              </div>
            </div>
          </div>
          <div class="swiper__button-darklemon">
            <button
              type="button"
              class="swiper-hotel-triple-button-prev swiper__button-room"
            >
              <svg class="swiper__icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button
              type="button"
              class="swiper-hotel-triple-button-next swiper__button-room"
            >
              <svg class="swiper__icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="button__section-hotel">
          <ul class="room-short-desc__list-button">
            <li class="room-short-desc__button-box">
              <a class="room-short-desc__link" href="./room.html">Детальніше</a>
            </li>
            <li>
              <button
                class="room-short-desc__button"
                type="button"
                data-modal-price-3p-open
              >
                Переглянути ціни
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="room-short-desc">
  <div class="hotel-rooms__lemon">
    <div
      class="container hotel__room-lemon-line hotel__room-lemon-line--tablet"
    >
      <span class="room-short-desc__title"> Amet minim mollit non</span>
      <h3 class="room-short-desc__label">mimino</h3>
      <h2 class="room-short-desc__name">
        Двомісний номер <span class="room-short-desc__name-down">люкс</span>
      </h2>
      <p class="room-short-desc__about">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="hotel__img hotel__img-lemon"
        srcset="
          ./images/hotel/room-mobile.jpg     246w,
          ./images/hotel/room-mobile@2x.jpg  488w,
          ./images/hotel/room-tablet.jpg     400w,
          ./images/hotel/room-tablet@2x.jpg  800w,
          ./images/hotel/room-desktop.jpg    460w,
          ./images/hotel/room-desktop@2x.jpg 920w
        "
        src="./images/hotel/room-mobile.jpg"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 246px, 60vw"
        alt="Кімната з апартаментами"
      />
      <div class="set__images-lemon">
        <div class="set__container set__container-right">
          <div dir="rtl" class="swiper swiper-hotel-double">
            <div class="swiper-wrapper swiper__slider">
              <div class="swiper-slide swiper__slide">
                <img
                  class="swiper__slide"
                  srcset="
                    ./images/hotel/slider/room_slider1-mobile.jpg     194w,
                    ./images/hotel/slider/room_slider1-mobile@2x.jpg  388w,
                    ./images/hotel/slider/room_slider1-desktop.jpg    254w,
                    ./images/hotel/slider/room_slider1-desktop@2x.jpg 508w
                  "
                  src="./images/hotel/slider/room_slider1-mobile.jpg"
                  sizes="(min-width: 1280px) 255px, (min-width: 414px) 195px, 47vw"
                  alt="Стіл з раковиною"
                />
              </div>
              <div class="swiper-slide swiper__slide">
                <img
                  class="swiper__slide"
                  srcset="
                    ./images/hotel/slider/room_slider2-mobile.jpg     194w,
                    ./images/hotel/slider/room_slider2-mobile@2x.jpg  388w,
                    ./images/hotel/slider/room_slider2-desktop.jpg    254w,
                    ./images/hotel/slider/room_slider2-desktop@2x.jpg 508w
                  "
                  src="./images/hotel/slider/room_slider2-mobile.jpg"
                  sizes="(min-width: 1280px) 255px, (min-width: 414px) 195px, 47vw"
                  alt="Чашка кави, навпроти вікна"
                />
              </div>
            </div>
          </div>
          <div class="swiper__button-lemon">
            <button
              type="button"
              class="swiper-hotel-double-button-next swiper__button-room"
            >
              <svg class="swiper__icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button
              type="button"
              class="swiper-hotel-double-button-prev swiper__button-room"
            >
              <svg class="swiper__icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="button__section-hotel">
          <ul class="room-short-desc__list-button">
            <li class="room-short-desc__button-box">
              <a class="room-short-desc__link" href="./room.html">Детальніше</a>
            </li>
            <li>
              <button
                class="room-short-desc__button"
                type="button"
                data-modal-price-2p-open
              >
                Переглянути ціни
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
