<section class="section__amenities">
  <div class="container__amenities">
    <h2 class="section__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="discription__main">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities__list">
      <li class="list__item">
        <h3 class="section__subtitle">ЗАГАЛЬНІ</h3>
        <div class="box__amenities">
          <p class="discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="subdiscription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="list__item">
        <h3 class="section__subtitle">ВАННА КІМНАТА</h3>
        <div class="box__amenities">
          <p class="discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="subdiscription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="list__item">
        <h3 class="section__subtitle">СПАЛЬНЯ</h3>
        <div class="box__amenities">
          <p class="discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="list__item">
        <h3 class="section__subtitle">КУХНЯ</h3>
        <div class="box__amenities">
          <p class="discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="subdiscription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="list__item">
        <h3 class="section__subtitle">МЕДІА</h3>
        <div class="box__amenities">
          <p class="discription">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>

    <button class="button__amenities">ОФОРМИТИ БРОНЮВАННЯ</button>
    <a href="#" class="link__amenities"
      >Повернутися до перегляду номерів
      <svg width="24" height="24" class="amenities__icon">
        <use href="/src/images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
