<section class="restaurant-menu" id="menu">
  <div class="container restaurant-menu__lines">
        <h2 class="restaurant-menu__caption">Меню ресторану</h2>
    <div class="restaurant-menu__box">
      <div class="menu-box">
        <table class="menu">
          <caption class="menu-caption">
            Гарячі страви
          </caption>
          <tbody>
            <tr>
              <td class="menu__name-food">Борщ з телятини з квасолею</td>
              <td class="menu__weight-food" rowspan="2">200 г</td>
              <td class="menu__price-food" rowspan="2">
                400 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
            </tr>

            <tr>
              <td class="menu__name-food">Суп сирний з куркою</td>
              <td class="menu__weight-food" rowspan="2">400 г</td>
              <td class="menu__price-food" rowspan="2">
                200 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
            </tr>

            <tr>
              <td class="menu__name-food">Паста карбонара</td>
              <td class="menu__weight-food" rowspan="2">350 г</td>
              <td class="menu__price-food" rowspan="2">
                430 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
            </tr>

            <tr>
              <td class="menu__name-food">Стейк зі свинини</td>
              <td class="menu__weight-food" rowspan="2">400 г</td>
              <td class="menu__price-food" rowspan="2">
                500 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
            </tr>

            <tr>
              <td class="menu__name-food">Горбуша в соусі з білого вина</td>
              <td class="menu__weight-food" rowspan="2">400 г</td>
              <td class="menu__price-food" rowspan="2">
                400 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food dropping">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
            </tr>
          </tbody>
        </table>
        <table class="menu">
          <caption class="menu-caption">
            Гарніри та закуски
          </caption>
          <tbody>
            <tr>
              <td class="menu__name-food">Запечені овочі</td>
              <td class="menu__weight-food" rowspan="2">200 г</td>
              <td class="menu__price-food" rowspan="2">
                230 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Кабачок, перець, помідор, баклажан
              </td>
            </tr>
            <tr>
              <td class="menu__name-food">Картопля фрі</td>
              <td class="menu__weight-food" rowspan="2">150 г</td>
              <td class="menu__price-food" rowspan="2">
                160 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">Картопля, соус томатний</td>
            </tr>
            <tr>
              <td class="menu__name-food">Картопля по-селянськи</td>
              <td class="menu__weight-food" rowspan="2">150 г</td>
              <td class="menu__price-food" rowspan="2">
                160 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Картопля, спеції, соус пікантний
              </td>
            </tr>
            <tr>
              <td class="menu__name-food">Хрумкі соління з бочки</td>
              <td class="menu__weight-food" rowspan="2">250 г</td>
              <td class="menu__price-food" rowspan="2">
                350 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
            </tr>
            <tr>
              <td class="menu__name-food">Крильця курячі в медовому соусі</td>
              <td class="menu__weight-food" rowspan="2">400 г</td>
              <td class="menu__price-food" rowspan="2">
                420 грн
              </td>
            </tr>
            <tr class="menu__composition-line">
              <td class="menu__composition-food dropping">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu-box">
        <table class="menu">
          <caption class="menu-caption">
            Салати
          </caption>
          <tbody>
            <tr>
              <td class="menu__name-food">Цезар з куркою</td>
              <td class="menu__weight-food" rowspan="2">230 г</td>
              <td class="menu__price-food" rowspan="2">
                450 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
            </tr>
            <tr>
              <td class="menu__name-food">Цезар з креветками</td>
              <td class="menu__weight-food" rowspan="2">230 г</td>
              <td class="menu__price-food" rowspan="2">
                300 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
            </tr>
            <tr>
              <td class="menu__name-food">Грецький салат</td>
              <td class="menu__weight-food" rowspan="2">230 г</td>
              <td class="menu__price-food" rowspan="2">
                280 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
            </tr>
            <tr>
              <td class="menu__name-food">М’ясний салат</td>
              <td class="menu__weight-food" rowspan="2">230 г</td>
              <td class="menu__price-food" rowspan="2">
                300 грн
              </td>
            </tr>
            <tr>
              <td class="menu__composition-food dropping">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
            </tr>
          </tbody>
        </table>
        <table class="menu">
          <caption class="menu-caption">
            Десерти
          </caption>
          <tbody>
            <tr>
              <td class="menu__name-food dessert">Торт наполеон</td>
              <td class="menu__weight-food dessert">230 г</td>
              <td class="menu__price-food dessert">300 грн</td>
            </tr>

            <tr>
              <td class="menu__name-food dessert">Торт маковий</td>
              <td class="menu__weight-food dessert">230 г</td>
              <td class="menu__price-food dessert">300 грн</td>
            </tr>

            <tr>
              <td class="menu__name-food dropping">Тірамісу</td>
              <td class="menu__weight-food">120 г</td>
              <td class="menu__price-food">260 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="menu">
          <caption class="menu-caption">
            Напої
          </caption>
          <tbody>
            <tr>
              <td class="menu__name-food drink">Чай чорний/зелений</td>
              <td class="menu__weight-food drink">500 мл</td>
              <td class="menu__price-food drink">100 грн</td>
            </tr>

            <tr>
              <td class="menu__name-food drink">Еспресо</td>
              <td class="menu__weight-food drink">30 мл</td>
              <td class="menu__price-food drink">100 грн</td>
            </tr>

            <tr>
              <td class="menu__name-food drink">Американо</td>
              <td class="menu__weight-food drink">150 мл</td>
              <td class="menu__price-food drink">100 грн</td>
            </tr>
            <tr>
              <td class="menu__name-food drink">Капучино</td>
              <td class="menu__weight-food drink">200 мл</td>
              <td class="menu__price-food drink">160 грн</td>
            </tr>
            <tr>
              <td class="menu__name-food dropping">Лате</td>
              <td class="menu__weight-food">200 мл</td>
              <td class="menu__price-food">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="button-menu" type="button" data-modal-table-open-1>
      Забронювати столик
    </button>
  </div>
</section>
