<section class="restaurant-details">
  <div class="restaurant-details__container">
    <div class="restaurant-details__wrapper">
      <h3 class="restaurant-details__subtitle">MIMIHO</h3>
      <h2 class="restaurant-details__title">Ресторан</h2>
      <p class="restaurant-details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <!-- Slider main container -->
    <div class="details-swiper restaurant-details__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div
          class="swiper-slide restaurant-details__slide restaurant-details__slide--square"
        >
          <img
            srcset="
              ./images/homepage/restaurant_slider/meal1-desktop.jpg    270w,
              ./images/homepage/restaurant_slider/meal1-desktop@2x.jpg 540w
            "
            src="./images/homepage/restaurant_slider/meal1-desktop.jpg"
            alt="Зразок страви"
            class="restaurant-details__image"
          />
        </div>
        <div
          class="swiper-slide restaurant-details__slide restaurant-details__slide--narrow"
        >
          <img
            srcset="
              ./images/homepage/restaurant_slider/meal2-desktop.jpg    270w,
              ./images/homepage/restaurant_slider/meal2-desktop@2x.jpg 540w
            "
            src="./images/homepage/restaurant_slider/meal2-desktop.jpg"
            alt="Зразок страви"
            class="restaurant-details__image"
          />
        </div>
        <div
          class="swiper-slide restaurant-details__slide restaurant-details__slide--square"
        >
          <img
            srcset="
              ./images/homepage/restaurant_slider/meal3-desktop.jpg    270w,
              ./images/homepage/restaurant_slider/meal3-desktop@2x.jpg 540w
            "
            src="./images/homepage/restaurant_slider/meal3-desktop.jpg"
            alt="Зразок страви"
            class="restaurant-details__image"
          />
        </div>
      </div>
    </div>
    <div class="restaurant-details__swiper-button-wrapper">
      <button
        type="button"
        class="swiper-button-prev restaurant-details__swiper-button restaurant-details__swiper-button--prev"
      >
        <svg class="restaurant-details__icon" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        type="button"
        class="swiper-button-next restaurant-details__swiper-button restaurant-details__swiper-button--next"
      >
        <svg class="restaurant-details__icon" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="restaurant-details__modal-button-wrapper">
      <button
        class="restaurant-details__modal-button"
        type="button"
        data-modal-open
      >
        Забронювати столик
      </button>
      <button
        class="restaurant-details__modal-button"
        type="button"
        data-modal-open
      >
        Переглянути меню
      </button>
    </div>
  </div>
</section>
