.hotel__button{
width: 236px;
height: 48px;

background-color: $primaryBlack;

border: 2px solid $primaryWhite;
border-radius: 25px;
 &:hover,
 &:focus{
  @include hover-focus-button
 }
}
.hotel__link {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  
  color: $accentColor;
  text-decoration: none;
}
.swiper__button-lemon{
  display: flex;
  flex-direction: row;
  
  justify-content: flex-start;
  gap: 32px;
  @include for-tablet-landscape-up{
    display: flex;
    justify-content: flex-end;
    
  }
}
.swiper__button-darklemon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 32px;

  @include for-tablet-landscape-up{
    display: flex;
    justify-content: flex-start;
  }
}
.button__section-hotel{
  margin-top: 20px;
  margin-left: 70px;
  margin-right: auto;
  @include for-tablet-portrait-up{
  margin-top: 20px;
  margin-left: 70px;
  margin-right: auto;
  }
  @include for-tablet-landscape-up{
    margin: 0;
  }
}