.button-menu {
  display: block;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 24px 14px;

  font-family: inherit;
  font-weight: 700;
  line-height: 20px;

  cursor: pointer;
  color: $accentColor;
  background: $primaryBlack;

  border: 2px solid $bgrColorLemon;
  border-radius: 25px;

  @include for-tablet-landscape-up {
    margin-top: 31px;
    margin-right: 0;
    border: 2px solid $bgrColorDarkLemon;
  }
}
