.footer {
    background-color: $colorFooter;

    &__list {
        @include style-list;
    }

    &__logo {
        font-family: "Film P3";
        color: $accentColor;
        text-decoration: none;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0.3em;

        @include for-tablet-landscape-up {
            font-size: 64px;
        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__wrapper {
        @include for-phone-only {
            display: block;
        }

        @include for-tablet-portrait-up {
            display: flex;
            flex-wrap: wrap;
        }

    }

    &__link {
        text-decoration: none;
        color: $accentColor;
        font-family: 'Montserrat';
        font-weight: 500;
        letter-spacing: 0.02em;
        @include dark-text-hover;

        @include for-tablet-portrait-up {
            font-size: 20px;
            line-height: 1.2;
            margin-top: 58px;
            margin-bottom: 20px;
            margin-left: 44px;
        }

        @include for-tablet-portrait-up {
            margin-left: 0;
            margin-bottom: 16px;
        }
    }

    &__list-icons {
        @include style-list;
        width: 112px;
        display: flex;

        @include for-phone-only {

            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        gap:20px;
        align-items: flex-end;

        margin-left: 257px;
        margin-top: 32px;

        align-items:flex-end;

        @include for-tablet-landscape-up {
            display: none;
        }
    }

    &__link-icon {
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        color: rgba(243, 198, 83, 0.7);
        @include dark-text-hover;

        &:hover,
        &:focus {
            color: $primaryWhite;
        }
    }

    &__icon {
        fill: currentColor;
    }

    &__link-network {
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 1.25;
        color: $accentColor;
        border: 0.5px solid $accentColor;
        border-radius: 2px;
        padding: 10px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        transition: fill 250ms linear,
        border 250ms linear,
        color 250ms linear;
    
        &:hover .footer__icon,
        &:focus .footer__icon {
            fill: $primaryWhite;
        }
    
        &:hover,
        &:focus {
            border: 1px solid $primaryWhite;
            color: $primaryWhite;
        }
        

        &:first-child {
            gap: 17px;
        }

        &:last-child {
            gap: 12px;
        }
    }

    &__list-networks {
        @include style-list;
        display: none;

        @include for-tablet-landscape-up {
            display: flex;
            flex-direction: column;
            gap: 10px;


        }
    }

    &__container {
        @include for-phone-only {
            padding: 30px 0px;
        }

        @include for-tablet-portrait-up {
            padding: 40px 0px;
        }

        @include for-tablet-landscape-up {
            display: flex;
            padding: 80px 0px;
            background-image: linear-gradient(to right,
                    $colorFooter 50%,
                    rgba(186, 186, 186, 0.4) 50%,
                    rgba(186, 186, 186, 0.4) 50.1%,
                    $colorFooter 50.1%,
                    $colorFooter 74.32%,
                    rgba(186, 186, 186, 0.4) 74.32%,
                    rgba(186, 186, 186, 0.4) 74.42%,
                    $colorFooter 74.42%);
        }

        @include for-desktop-up {
            background-image: linear-gradient(to right,
                    $colorFooter 50%,
                    rgba(186, 186, 186, 0.4) 50%,
                    rgba(186, 186, 186, 0.4) 50.09%,
                    $colorFooter 50.09%,
                    $colorFooter 76.4%,
                    rgba(186, 186, 186, 0.4) 76.4%,
                    rgba(186, 186, 186, 0.4) 76.49%,
                    $colorFooter 76.49%);
        }

    }
}

.container {
    &__logo-footer {
        @include for-phone-only {

            text-align: center;
            margin-bottom: 20px;
        }

        @include for-tablet-portrait-up {
            margin-top: 58px;
            margin-left: 44px;
            width: 127px;

        }

        @include for-tablet-landscape-up {
            width: 202px;
            margin-left: 122px;
            margin-top: 32px;
        }

        @include for-desktop-up {
            margin-left: 146px;
            margin-top: 40px;
            margin-right: 231px;

        }
    }

    &__navigation-footer {
        @include for-phone-only {

            text-align: center;
        }

        @include for-tablet-portrait-up {

            margin-top: 0px;
            margin-left: 85px;

        }

        @include for-tablet-landscape-up {
            margin-top: 0;
            margin-right: 133px;
            margin-left: 163px;
        }

        @include for-desktop-up {

            margin-right: 199px;
            margin-left: 0px;
        }
    }
}

