.header {
    

    &__container {

    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
       
        list-style: none;
        
    }

    &__item--framed  {

        @include for-tablet-landscape-up {
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px; 
        }
        
    }


    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;   
        text-decoration: none;

        color: $accentColor;

        margin-right: 6px;

    }

    &__icon {
        fill: $accentColor;
        margin: 8px;
            
    }

    @media (max-width: 1024px) {
        &__icon:first-child {
        margin-right: 20px;
        }
    }
   
&__phone {
     
     
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
     
    
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    
     
    
    // color: $primaryWhite;

    text-decoration: none;
}


    &__logo {
        font-family: "Film P3";
        text-decoration: none;
        font-size: 36px;
        line-height: 1.08;
        letter-spacing: 0.3em;

        // color: $primaryWhite;
         
          
       
    }

    &__phone {
        @media (max-width: 1024px) {
            display: none;
        }
    }
   
}



.social {
&__menu {
    @media (max-width: 1280px) {
        display: none;
    }
}
}

